/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
}

.welcome-section {
  background-color: #0066cc;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.login-section {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
